
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #09001d;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #fafafa;
  border-radius: 15px;
  padding: 40px 30px;
  width: 400px;
  text-align: center;
}

h2 {
  font-size: 50px;
  color: #c40094;
  margin-bottom: 20px;
   
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-size: 1rem;
  color: #c40094;
  text-align: left;
}

input[type="email"],
input[type="password"] {
  padding: 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #f1f1f1;
  border: 1px solid #09001d;
  margin-bottom: 10px;
}
 
button[type="submit"] {
  color: #fff; 
  font-size: 1.5rem; 
  text-decoration: none; 
  background: #c40094;
  border-radius: 6px; 
  border : 2px solid #f9f8f8;
  margin-top: 20px;
  padding: 10px 20px;
  box-shadow:  0 0 10px #c40094;
  text-align: center;
  transition: 0.5s;
  cursor: pointer;
  margin-bottom: 6px;
}

button[type="submit"]:hover {
  background: #09001d; 
  color: #fdfdfd; 
  box-shadow: none;
}

#login-error-message {
  margin-top: 10px;
}

/* .nav {
  margin-top: 15px;
}

.nav a {
  color: #c40094;
  text-decoration: none;
  font-size: 0.9rem;
  transition: color 0.3s ease;
}
  */

  /* Responsive Design */
@media (max-width: 768px) {
  .container {
    width: 80%; 
    padding: 30px 20px;
  }

  h2 {
    font-size: 40px; 
  }

  input[type="email"],
  input[type="password"] {
    font-size: 0.9rem; 
    padding: 15px;
  }

  button[type="submit"] {
    font-size: 1.2rem; 
    padding: 8px 16px;
  }

  label {
    font-size: 0.9rem; 
  }
}

@media (max-width: 480px) {
  .container {
    width: 90%; 
    padding: 20px 15px;
  }

  h2 {
    font-size: 30px; 
  }

  input[type="email"],
  input[type="password"] {
    font-size: 0.8rem;
    padding: 12px;
  }

  button[type="submit"] {
    font-size: 1rem;
    padding: 6px 12px;
  }

  .nav a {
    font-size: 0.8rem; 
  }
}