body { 
  font-family: Arial, sans-serif;
  background-color: #09001d;
  
}

.container {
  background-color: #fafafa;
  border-radius: 15px;
  padding: 5px 30px;
  width: 400px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  font-size: 45px;
  color: #c40094;
  margin-top: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: -10px;
}

label {
  font-size: 1rem;
  color: #c40094;
  text-align: left;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
  background-color: #f1f1f1;
  border: 1px solid #09001d;
}

button[type="submit"] {
  color: #fff; 
  font-size: 1.5rem; 
  text-decoration: none; 
  background: #c40094;
  border-radius: 6px; 
  border : 2px solid #f9f8f8;
  margin-top: 20px;
  padding: 10px 20px;
  box-shadow:  0 0 10px #c40094;
  text-align: center;
  transition: 0.5s;
  cursor: pointer;
}

button[type="submit"]:hover {
  background: #09001d; 
  color: #fdfdfd; 
  box-shadow: none;
}

#password-error,
#re-password-error {
  font-size: 0.85rem;
}

.nav {
  margin-top: 15px;
  margin-bottom: 10px;
}

.nav a {
  color: #c40094;
  text-decoration: none;
  font-size: 18px ;
 
}
span{
 visibility: hidden;
 color: red;
}

.main-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}


@media (max-width: 480px) {
  body {
    overflow-x: hidden;  
  }

  .container {
    width: 80%;  
    padding: 15px;
    box-sizing: border-box;  
   
  }

  h2 {
    font-size: 20px;  
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    font-size: 0.9rem; 
    padding: 10px;   
  }

  button[type="submit"] {
    font-size: 1rem;  
    padding: 10px 15px;  
    width: 100%;  
  }

  .nav a {
    font-size: 15px;  
  }
  .fill-out-form {
  display: none;
}
}


@media (max-width: 925px) {
  body {
    overflow-x: hidden;  
  }

   .container {
    width: 80%;  
    padding: 20px;
  }
 
  .fill-out-form {
  display: none;
}
}


